.paginator {
    margin: 10px;
    border: none
}

.pageNumber {
    border: 2px solid #d7dae0;
    padding: 4px;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
    cursor: pointer;
}


.pageNumber.selectedPage {
    font-weight: bold;
    color: #50c878;
    border: 2px solid #50c878;
    font-size: 18px;

}

.paginator button {
    display: inline-block;
    outline: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
    border: 2px solid #50c878;
    border-radius: 20px;
    text-align: center;
    color: #50c878;

}

.paginator button:hover {
    background-color: #e8e8e8;
}