.userPhoto {
    width: 60px;
    border-radius: 30px;
}

.selectedPage {
    font-weight: bold;
}

.currentPage {
    padding: 10px
}

.usersPages span {
    cursor: pointer;
    padding: 5px;
}

.wrapper {

    margin: 5px 0 0 5px;
}
