.header {
    grid-area: header;
    background-color: #50c878;
    border-radius: 4px;
}

.header img {
    width: 60px;
    padding-left: 30px;
}

.loginBlock {
    float: right;
    padding: 17px 15px 0 0;
    color: white;
}

.loginBlock a {
    color: white;

}
button {
    font-size: 13px;
    padding: 5px;
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
}