.avatar {
    grid-area: avatar;
   /* height: 250px;
    width: 250px;
    display: flex;
    float: left;
    overflow: hidden;
    border: 1px solid #d7dae0;
    border-radius: 4px;
    margin-left: 25px;*/
  }
  
/*.avatar img {
    margin: auto;
    width: 100%;
    transform: scale(1,1);
    transition: none;
  }
  */
  .about {
    grid-area: about;
    margin-left: 15px;
    grid-area: about;
    height: 250px;
    width: 350px;
    display: flex;
    float: left;
    overflow: hidden;
    border: 1px solid black;
  }
  
  .about div {
    padding-top: 8px;
  }